a
{
  color: grey;
  text-decoration: underline;
}
a:hover
{
    color:orangered;
    text-decoration: underline;
}
#zken
{
  color: teal;
  text-decoration: underline;
  font-size: large;
  font-family: 'Poppins', sans-serif;
}
.stickz{
    height: 80px;
    width: 250%;
}
i
{
    margin-left: 0.5%;
}
#chead
{
 display: flex;
 height: 90px;
 justify-content: space-around;
 margin: auto;
 margin-top: 3%;
}
  

  #cpiku
  {
    border: 1px solid grey;
    width: 340%;
    padding: 8px;
    font-size: 17px;
    cursor: pointer;
    color: #8c9bad;
    background-color: #ffffff;
    margin-left: -100%;
    border-radius: 5px;
    margin-top: -2%;
  }
  form.example button:hover {
    background: #021321;
  }
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .roy
  {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: auto;
    gap: 15px;
    text-align: center;
    align-items: center;
    margin-top: 0.5%;
    font-size: large;
    color:teal;
  }
  .ALP
  {
    margin-top: -2%;
    color: grey;
  }
  .navbar
        {
            display: flex;
            height: 50px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            margin-top: 1%;
            border: 1PX SOLID teal;
            border-top: none;
            border-left: none;
            background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/confectionary.png);
            cursor: pointer;
        }
       .B>ul
       {
           display: grid;
           grid-template-columns: repeat(13, 1fr);
           grid-template-rows: auto;
           gap: 2px;
            margin-left: -1%;
           align-items: center;
           margin-top: 0.8%;
       }
       ul>li:hover
       {
           display: block;
       }
       ul>li{
           list-style-type: none;
           font-size: large;
           font-family: 'Poppins', sans-serif;
           border-top: none;
       }
       ul>li:nth-child(6)
       {
        margin-left: -48%;
       }
       ul>li:nth-child(13)
       {
        margin-left: -20%;
       }
*{
    margin: 0%;
    padding: 0%;
}
body{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 400;
    padding: 5px;
    
}
#vheading{
    font-family: Arial, Helvetica, sans-serif;
    margin-top: 3%;
    margin-bottom: 3%;       
    font-size: 20px; 
    color: #444;    
    text-align: center;
     
}
p{
    font-family: Arial, Helvetica, sans-serif;
    color: black; 
    font-weight: 600; 
    padding-top: 10px;  
    text-align: center;
}
h3{
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color:black; 
    font-weight: 600; 
    padding-top: 10px;  
}
#vfirst{
    width: 100%;      
    margin: auto;
    margin-top: 5%;
    margin-bottom: 5%;
   
}
img{
    width: 100%;
}
#vfirst>div{
    width: 100%;
    height: auto;
    background:url( "https://ak1.ostkcdn.com/img/mxc/05302022-HP-A1-INTL-767x800.jpg")
}

#vtime{ 
    margin-bottom: 5%;
    margin-top: 15px;        
    display: flex;
    width: 100%;
    height: auto;
   
}
#vtime>div{
    margin-left: 1%;
    margin-right: 1%;      
    width:100%;
    height: auto; 
         
}
#vtime>div>img{
    box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 12px 0px inset;
}

p{
    text-align: center;
}
#vsecond{
    width: 100%;      
    margin: auto;
    margin-top: 15px;
    background:url("https://ak1.ostkcdn.com/img/mxc/05302022_BedroomFurniture_Desktop.jpg?imwidth=1920")
}
#vsecond>div{
    width: 100%;
    height: auto;        
   
}
img{
    width: 100%;
}
#vfresh{
    margin-top: 10px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(6,1fr);
    grid-template-rows: auto;
    gap: 20px;
}

  
#vthird{
display: flex;
width: 98%;
height: auto;

}
#vthird>div{
margin-left: 10px;
background: color #f5f5f5;
}
#vfour{   
margin: auto;
margin-top: 3%;
margin-bottom: 5%;
width: 98%;
height: auto;    
background: url("https://ak1.ostkcdn.com/img/mxc/05302022_SummerDecor_Mobile.jpg?imwidth=750");

}
#vfour>img{
width: 100%;
}

#vfour>div{
width: 100%;
height: auto;

}
#vfive{
display: flex;
width: 100%;
height: auto;
margin-top: 10px;
background: color #f5f5f5;


}
#vfive>div{   
width: 24%;
margin-left: 10px;
margin-bottom: 5%;
background: color #f5f5f5;
box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px inset;

}
#vsix{
width: 95%;
margin: auto;
margin-bottom: 5%;
background: url("https://ak1.ostkcdn.com/img/mxc/030822-RIUpdate-Mbl.jpg?imwidth=1920");
}
#vseven{
margin: auto;
display: flex;
width: 95%;
height: auto;
margin-top: 5%;
background: color #f5f5f5;

}
#vseven>div{
width: 33%;
height: auto;
margin: auto;
margin-left: 1%;
margin-right: 1%;  
box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 12px 0px inset;
}
#vbtn{
padding: 10px 40px 10px 40px;
border-radius: 5px;
background-color: rgb(46, 45, 45);
color: white;
font-size: 16px;
margin-top: 2%;

border: none;
cursor: pointer;    
}
#vlast{
width: 95%;

display: grid;
grid-template-columns: repeat(3,1fr);
grid-template-rows: auto;
gap: 15px;
margin: auto;
margin-top: 2%;
margin-bottom: 5%;
}
#vlast>div{
background-color: #f5f5f5;
text-align: center;
color: rgb(107, 104, 104);

font-weight: 600;
font-size: 20px;
padding: 10px;
}
#vhr{
border: 1px solid grey;
color: black;
}

body { font-family: sans-serif; }



.carousel {
background: hsl(0, 0%, 98%);
}

.carousel-cell {

background-color: #f5f5f5;
height: 300px;
margin-right: 20px;


} 

.carousel-cell-image {

height: auto;
margin: 0 auto;
max-width: 100%;
opacity: 0;
-webkit-transition: opacity 0.4s;
      transition: opacity 0.4s;
}

/* fade in lazy loaded image */
.carousel-cell-image.flickity-lazyloaded,
.carousel-cell-image.flickity-lazyerror {
opacity: 1;
}
#vpankaj{
position: fixed;
background-color: white;
z-index: 20px;
}




