#wcontainer
{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 40px;
    color: rgb(68, 68, 68);
    background-color: whitesmoke;
    cursor: pointer;
    position: sticky;
}
a
{
  color: black;
  text-decoration: underline;
}
#yken
{
  color: teal;
  text-decoration: underline;
  font-size: large;
  font-family: 'Poppins', sans-serif;
}
.stickz{
    height: 80px;
    width: 250%;
    }
i
{
    margin-left: 0.5%;
}
#whead
{
 display: flex;
 height: 60px;
 justify-content: space-around;
 margin: auto;
}

  #ypiku
  {
    border: 1px solid grey;
    width: 310%;
    padding: 8px;
    font-size: 17px;
    cursor: pointer;
    color: #8c9bad;
    background-color: #ffffff;
    margin-left: -120%;
    border-radius: 5px;
    margin-top: 7%;
  }
  form.example button:hover {
    background: #021321;
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  .roy
  {
    display: grid;
    grid-template-columns:repeat(3,1fr);
    grid-template-rows: auto;
    gap: 10px;
    text-align: center;
    margin-top: 0.5%;
    font-size: large;
    color:teal;
  }
  .ALP
  {
    margin-top: -2%;
    color: grey;
  }
  .navbar
        {
            display: flex;
            height: 50px;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
            margin-top: 1%;
            border: 1PX SOLID teal;
            border-top: none;
            border-left: none;
            background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/652/confectionary.png);
        }
       .B>ul
       {
           display: grid;
           grid-template-columns: repeat(13, 1fr);
           grid-template-rows: auto;
           gap: 2px;
            margin-left: -1%;
           align-items: center;
           margin-top: 0.8%;
       }
       ul>li:hover
       {
           display: block;
       }
       ul>li{
           list-style-type: none;
           font-size: large;
           font-family: 'Poppins', sans-serif;
           border-top: none;
       }
       ul>li:nth-child(6)
       {
        margin-left: -48%;
       }
       ul>li:nth-child(13)
       {
        margin-left: -20%;
       }
       /* Efat css Continue */

#yhead
{
       /* border: 1px solid black; */
        width: 600px;
        height: 100px;
        margin-left: 80px;
        font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    }

    #ytext{
        /* border: 1px solid black; */
        width: 170px;
        height: 300px;
        margin-left: 80px;
        font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
        cursor: pointer;
    }
    #ytext>h5{
        color: brown;
        font-size: 15px;
        font-weight: 0px;
    }
    #yimg1{
        border: 1px solid black;
        width: 1068px;
        height: 90px;
        margin-left: 360px;
        margin-top: -300px;
    }
    #yimg1>img{
        height: 100%;
        width: 100%;
    }
    #yimg2{
        /* border: 1px solid black; */
        width: 1065px;
        height: 350px;
        margin-left: 360px;
        margin-top: 30px;
    }
    #yimg2> img{
        height: 100%;
        width: 100%;

    }
    #yhead1{
        /* border: 1px solid black; */
        width: 90%;
        height: 100px;
        text-align: center;
        margin-left: 80px;
        font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
        margin-top: 60px;
    }
    #ycontainer{
        display: grid;
        width: 90%;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(1,300px);
        gap: 20px;
        /* border: 1px solid black; */
        /* margin: auto; */
        margin-left: 80px;

    }
   
    #ycontainer>div> img{
        width: 100%;
        height: 80%;
        cursor: pointer;
    }
    #ycontainer>div> p{
        text-align: center;
        font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    }
    #yhead2{
        /* border: 1px solid black; */
        width: 90%;
        height: 100px;
        text-align: center;
        margin-left: 80px;
        font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    }
    #ycontainer2{
        display: grid;
        width: 90%;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(1,300px);
        gap: 20px;
        /* border: 1px solid black; */
        /* margin: auto; */
        margin-left: 80px;

    }
    #ycontainer2>div> img{
        width: 100%;
        height: 80%;
        cursor: pointer;
    }
    #ycontainer2>div> p{
        text-align: center;
        font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    }
    #yhead3{
        /* border: 1px solid black; */
        width: 90%;
        height: 100px;
        text-align: center;
        margin-left: 80px;
        font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    }
    #ycontainer3{
        display: grid;
        width: 90%;
        grid-template-columns: repeat(6,1fr);
        grid-template-rows: repeat(1,300px);
        gap: 20px;
        /* border: 1px solid black; */
        /* margin: auto; */
        margin-left: 80px;

    }
    #ycontainer3>div> img{
        width: 100%;
        height: 80%;
        cursor: pointer;
    }
    #ycontainer3>div> p{
        text-align: center;
        font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
    }
    #ymain{
display: flex;
gap: 40px;
/* border: 1px solid black; */
margin:auto;
width: 95%;
margin-top:20px;


}
#ybox1{
/* border: 1px solid blue; */
width: 20%;
margin-top: 100px;
margin-left: 80px;
}
#ybox1>p:nth-child(2){
border: 1px solid;
border-radius:50px;
width: 35%;
padding: 10px;
}
#ybox2{
display: grid;
grid-template-columns: repeat(3, 1fr);
grid-template-rows: auto;
gap: 20px;
/* border: 1px solid red; */
width: 73%;
height: auto;


}
#ylist{ 
display: grid;
grid-template-columns: repeat(1, 1fr)
;
/* border: 1px solid aqua; */
height: 500px;
overflow-y: scroll;

}
.filter-list{ 
  font-weight: bold;
  font-size:15px;
  border-left: none;
  border-top: 1px solid grey;
  border-bottom: 1px solid lightgrey;
  height:50px;

}
#ycontainer5{
        display: grid;
        width: 70%;
        grid-template-columns: repeat(3,1fr);
        grid-template-rows: auto;
       
        gap: 20px;
        /* border: 1px solid black; */
        /* margin: auto; */
        margin-left: 400px;
        margin-top: -500px;
        

    }
    #ycontainer5>div{

    border: 1px solid gray;
}
#ycontainer5>div> img{
width: 100%;
height: 70%;
cursor: pointer;
}
#ycontainer5>div> p{
text-align: center;
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
} 
#ycontainer5>div> h4{
text-align: center;
font-family: Helvetica Neue,Helvetica,Arial,sans-serif;
} 
